<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Your Devcard</title>
    <link rel="stylesheet" href="main_css.css" />
  </head>
  <body>
    <h1>Create Your Devcard</h1>
  <div>
    <input id="name" placeholder="Full Name"/>
  </div>
  <div>
    <input id="desc" placeholder="About me"/>
  </div>
  <div>
    <input id="git" placeholder="Github URL"/>
  </div>
  <div>
    <input id="twitter" placeholder="Twitter URL"/>
  </div>
  <div>
    <input id="book" placeholder="Favorite books(seperated by commas)"/>
  </div>
  <div>
    <input id="artist" placeholder="Favorite artists(seperated by commas)"/>
  </div>
  <div>
    <button id="Create" type="submit" formmethod="post">Create Site</button>
  </div>
  </body>
</html>
